@model EDeskOutSourcing.ViewModels.FreelancerVM

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/CompanyArea/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>

<div>
    <h4>FreelancerVM</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityInstituteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityInstituteName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateTitle)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceInMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceInMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    <div>
        <a asp-action="Selected" asp-controller="SelectedApplication" asp-area="CompanyArea" asp-route-id="@Model.ProjectApplicationID" class="btn btn-success">Selected</a>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
